@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #e5e5e5;
  position: absolute;
  width: 375px;
  height: 718px;
  z-index: -1;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 24px;
}

.logo {
  color: #6070ff;
  width: 100px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.menu {
  width: 24px;
  height: 24px;
  margin-right: 24px;
  color: #6070ff;
}

.headline-section {
  background-color: #fff;
  background-image: url(./assets/images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  border-radius: 0 0 0 80px;
  height: 604px;
  width: 375px;
  left: calc(50% - 375px / 2);
  top: 92px;
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  gap: 12px;
}

.heading-1 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.intro-info {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.connect-info {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.logo-images {
  padding-right: 20px;
}

.social-icons {
  list-style-type: none;
  display: flex;
}

.work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 30px;
  gap: 30px;
}

.work-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 327px;
  height: 552px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
}

.project-title-heading {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.client-heading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.role {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.project-info-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  width: 295px;
}

.logo-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  list-style-type: none;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.button-see-project {
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: #fff;
}

.button-see-project:hover {
  background-color: #6070ff;
  color: #fff;
}

.about-myself-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  border-radius: 0 80px 0 0;
}

.about-myself-header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  background-color: #fff;
  width: 327px;
  height: 101px;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.top-part-about-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  gap: 12px;
}

.about-myself-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.button-resume {
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 138px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: #fff;
}

.button-resume:hover {
  background-color: #6070ff;
  color: #fff;
}

ul {
  list-style-type: none;
}

.first-list-about-myself {
  display: flex;
  justify-content: space-between;
  justify-content: baseline;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 8px;
  width: 327px;
  height: 72px;
}

.language-categories-about-myself {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.lang-logo-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 12px;
  background: #f7f7f9;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
}

.last-list-about-myself {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 8px;
  width: 327px;
  height: 62px;
  border-bottom: 1px solid #dfe1e6;
}

.contact-section {
  background: #6070ff url(./assets/images/contact-bg.svg) no-repeat 100% 100%;
  height: max-content;
  width: 375px;
  border-top-left-radius: 80px;
}

.contact-h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 103px;
}

.contact-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  margin-top: 12px;
  width: 327px;
  height: 102px;
  margin-bottom: 87px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  height: 48px;
  width: 327px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.contact-form input:last-child {
  margin-bottom: 18px;
}

#message-container {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  margin-bottom: 22px;
}

.contact-form button {
  align-self: flex-start;
  margin-left: 20px;
  width: 140px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  border-radius: 8px;
}

.contact-content-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  padding-left: 10px;
}

.form-article img {
  margin: 32px 121px 8px 121px;
}
