@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #e5e5e5;
  position: absolute;
  width: 375px;
  height: 718px;
  z-index: -1;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 24px;
}

.logo {
  color: #6070ff;
  width: 100px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.menu {
  width: 24px;
  height: 24px;
  margin-right: 24px;
  color: #6070ff;
}

.headline-section {
  background-color: #fff;
  background-image: url(./assets/images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  border-radius: 0 0 0 80px;
  height: 604px;
  width: 375px;
  left: calc(50% - 375px / 2);
  top: 92px;
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  gap: 12px;
}

.heading-1 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.intro-info {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.connect-info {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.logo-images {
  padding-right: 20px;
}

.social-icons {
  list-style-type: none;
  display: flex;
}

.work-section {
  width: 327px;
  height: 552px;
  background-color: #fff;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}
