@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.logo{
    color: #6070FF;
    width: 76px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.menu{
    width: 18px;
    height: 12px;
    left: 3px;
    top: 6px;
}

.headline-section{
    background-image: url(./assets/images/header-shapes\ mobile.png);
    background-repeat: no-repeat;
    height: 100vh;
}

.heading-1{
    color: #172B4D;
    width: 327px;
    height: 150px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.intro-info{
    color: #344563;
    width: 327px;
    height: 146px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.connect-info{
    color: #7F8CFF;
    width: 117px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
